.navbar-container{
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-bottom: solid 1px purple;
    margin-bottom: 1rem;
}
.navMenu{
    list-style-type: none;
    display: flex;
    margin-right: auto;

}
li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cart-widget{
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: -75px;

}
.user{
    display: flex;
    align-items: center;
}
.seleccionado{
    font-weight: 600;
    border-bottom: 1px solid purple;
}